.mainPictureWrapper{
  position: relative;


}
.mainPicture{
  display: inline-block;
  margin: 30px 0;
  max-width: calc(100% - 50px);
  max-height: calc(100vh - 120px);
}
.loadScreenMessage{
  position: absolute;
  left: 50px;
  top:-30px;
  color: var(--gray-dark);
  font-weight: 500;
  font-size: 30px;
  line-height: 35px;
}
.loadScreenMessageLink{
  color: var(--primary);
}
.loadScreenMessageBottom{
  position: absolute;
  right: 0;
  bottom:-20px;
  color: var(--gray-dark);
  font-weight: 500;
  font-size: 30px;
  line-height: 35px;
}
.loadScreenMessageLink{
  color: var(--primary);
}
@media screen and (max-width: 991px) {
  .mainPicture{
    max-width: none;
  }

  .loadScreenMessage {
    position: relative;
    left: 0;
    top:0;
    font-size: 25px;
    line-height: 35px;

  }
  .loadScreenMessageBottom {
    position: relative;
    left: 0;
    top:0;
    font-size: 25px;
    line-height: 35px;
  }
  .mainPictureWrapper h3{
  margin-top: 10px;


  }

  
}