.wrapper{

}
.heading {
  margin-top: 60px;
  margin-bottom: 50px;
}
.searchText{
  font-weight: bold;
  color: var(--primary);
}
.list {
  display: grid;
  gap: 10px;
  padding-left: 40px;
  padding-right: 40px;
  font-size: 18px;

}
.listItem{

}

.listLink{

}
.listLink:hover{
  color:var(--primary-hover);

}