.wrapper{

}
.heading {
  margin-top: 60px;
  margin-bottom: 50px;
}
.searchText{
  font-weight: bold;
  color: var(--primary);
}
.list {
  display: grid;
  gap: 10px;
  padding-left: 40px;
  padding-right: 40px;
  font-size: 18px;

}
.listItem{

}

.listLink{

}
.listLink:hover{
  color:var(--primary-hover);

}
.notFoundContainer{
  display: grid;
  place-items: center;
}
.notFoundIcon{
  max-width: 600px;

}
@media screen and (max-width: 640px) {
  .list {
    padding-left: 10px;
    padding-right: 10px;
  }
  .heading {
   font-size: 20px;
  }

}