html,
body {
  padding: 0;
  margin: 0;
  color:var(--black);
  background: #f5f6f8;
  font-family: 'Noto Sans KR', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root{
  --black:#3B434;
  --gray-light:#EBEBEB;
  --gray-dark:#787D85;
  --gray:#A4A4A4;
  --white:white;
  --primary:#7653FC;
  --primary-hover: #513ab0;
  --red:#fc836D;
  --red-light:#FEA291;
  --green:#1Dc37e;
  --green-light:#c8f8e4;
  --blue-light:#00a1f1;
  --font-family:'Noto Sans KR', sans-serif;

}