html,
body {
  padding: 0;
  margin: 0;
  color:var(--black);
  background: #f5f6f8;
  font-family: 'Noto Sans KR', sans-serif;

}

a {
  color: inherit;
  text-decoration: none;
/*  refactor this and button icon*/
}

* {
  box-sizing: border-box;
}
.visuallyHidden{
  width: 0;
  height: 0;
  position: absolute;
  overflow: hidden;
}

:root{
  --black:#3B434;
  --gray-light:#EBEBEB;
  --gray-dark: #6c7077;
  --gray:#A4A4A4;
  --white:white;
  --primary: rgba(115, 81, 245);
  --primary-hover: #513ab0;
  --red:#fc836D;
  --red-light:#FEA291;
  --green:#007b48;
  --green-light:#c8f8e4;
  --blue-light:#00a1f1;
  --font-family:'Noto Sans KR', sans-serif;

}
